
h1.about{
    margin-top: 50px;
    text-align: center;
    color:#f7af24;
    font-size: 70px;
}
.aboutme{
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
   
    /* background-color: tomato; */
}
.leftabout{
  
    flex:1;
    
    
}
.img2container{

    height: 350px;
    width:350px;
    margin-left: 20%;
    margin-right: 20px;
    /* background-color: turquoise; */
}

.mikey2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 15px;
}
.descabout{
    flex:1;
    
    
}
.myself{
    font-size: large;
    margin-right: 10%;
    margin-left: 10%;
}
  

@media only screen and (max-width: 768px){
    h1.about{
        font-size: 20px;
    }
    .aboutme {
        flex-direction: column;
    }
    .img2container {
        height: 250px;
        width: 250px;
        margin: 0;
    }
    .myself {
        margin: 0;
        margin-top: 40px;
    }
}